
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    
}

h1 {
    margin: 1.5rem 0;
    text-align: center;
    font-weight: bold;

}

p {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: lighter;
}

section{
    background: hsl(219, 30%, 73%);
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
    /* margin: 0 auto; */
}

img {
    border-radius: 10px;
}
